.monster-stats {
  display: flex;
  gap: 1rem;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.stat,
.value-modifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat p {
  margin: 0;
}

.stat .value {
  border: 1px solid var(--border);
  padding: 1rem;
  aspect-ratio: 1 / 1;
}

.stat .modifier {
  background-color: var(--nav-bg);
  margin-top: -0.75rem;
  border: 1px solid var(--border);
  padding: 0 0.5rem;
}
