.generator-card {
  background: #1d110c;
  background: linear-gradient(
    0deg,
    #2c2049,
    #30234f,
    #342656,
    #38295c,
    #3c2c63
  );
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  /* width: 1000px; */
  color: white;
  z-index: 1;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 5rem;
  transition: all 0.3s ease-in-out;
}

.generator-card.small {
  padding: 1rem;
}
.generator-card.small .generator-card-icon {
  display: none;
}

.generator-card:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
}

.generator-card::before {
  content: "";
  pointer-events: none;
  transform: none;
  margin: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-image-width: 11px 13px;
  border-image-slice: 15 20 fill;
  border-image-repeat: round;
  border-image-outset: 0;
  border-image-source: url("./frame.png");
  position: absolute;
}

.generator-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("./ui_texture.png");
  background-size: 200px;
  background-position: center;
  opacity: 0.3;
  /* z-index: -1; */
}

.generator-card-icon {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
