.combat-description-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "additional-info description description"
    "character-info enemies-info graveyard";
  gap: 20px;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color-dark);
  font-family: "Arial", sans-serif;
  /* max-height: calc(100vh - 2rem); */
  border-radius: 5px;
  margin-bottom: 20px;
}

.description-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background-color: var(--card-header-background);
  border-bottom: 1px solid var(--primary-color);
  color: var(--light-grey);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}

.description-body {
  border: thick double var(--card-border);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--text-color-dark);
  padding: 1rem;
  flex: 1;
}

.character-info {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  grid-area: character-info;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sentence-length {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.sentence-length-input {
  /* width: 100%; */
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.weapon-spell-select {
  visibility: hidden;
}

.weapon-spell-select.visible {
  visibility: visible;
}

.enemies-info {
  grid-area: enemies-info;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.enemies-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.graveyard {
  grid-area: graveyard;
  overflow-y: auto;
  width: 100%;
}

.graveyard,
.description {
  display: flex;
  flex-direction: column;
}

.enemy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: var(--darker);
  margin-bottom: 12px;
  gap: 1rem;
  color: #ecf0f1;
}

.enemy.alive {
  background-color: var(--primary-color);
}

.enemies-list .enemy.dead {
  background-color: #c0392b;
  text-decoration: line-through;
}

.kill-button {
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kill-button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.kill-button:hover {
  background-color: #c0392b;
}

.additional-info {
  grid-area: additional-info;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

/* .additional-info h2,
.character-info h2,
.enemies-info h2,
.graveyard h2,
.description h2 {
  margin-bottom: 10px;
  color: var(--text-color);
  background-color: var(--dark);
  margin: -20px -20px 20px -20px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.description {
  grid-area: description;
  width: 100%;

  position: relative;
}

.description .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(100% - 55px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 27px;
}

.description .loader-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.flavor-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.flavor-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  resize: vertical;
  font-family: inherit;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.flavor-textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.attack-type-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .combat-description-page {
    grid-template-areas:
      "additional-info description description"
      "character-info enemies-info enemies-info"
      "character-info enemies-info enemies-info";
  }

  .graveyard {
    display: none;
  }
}

@media (max-width: 768px) {
  .combat-description-page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "additional-info"
      "description"
      "character-info"
      "enemies-info"
      "graveyard";
    max-height: 100%;
  }

  .graveyard {
    display: block;
  }
}
