.monster-page {
  color: var(--text-color-dark);
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.disclaimer {
  position: absolute;
  bottom: 0;
  padding: 0 2rem 2rem;
  font-style: italic;
  font-size: 0.8rem;
}

.boxed-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: thick double var(--text-color-dark);
  border-radius: 1rem;
  background-color: var(--background-color);
  font-size: 1.2rem;
}

.monster-buttons {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}
