header {
  position: absolute;
  top: 0;
  height: 75px;
  z-index: 100;
  width: 100vw;
  background-color: var(--background-color);
  background-image: var(--dark-gradient);
  z-index: 100;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid var(--primary-color);
}

/* header::before {
  content: "";
  pointer-events: none;
  transform: none;
  margin: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-image-width: 0 0 11px 0;
  border-image-slice: 11 20 fill;
  border-image-repeat: repeat;
  border-image-outset: 0;
  border-image-source: url("./frame.png");
} */

/* header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("./ui_texture.png");
  background-size: 200px;
  background-position: center;
  opacity: 0.2;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
  position: relative;
}

.vertical-divider {
  height: 50px;
  margin: auto;
  width: 1px;
  background-color: var(--divider-color);
}

.user-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
}
