header {
  position: absolute;
  top: 0;
  height: 75px;
  z-index: 100;
  width: 100vw;
  background-color: var(--background-color);
  background-image: var(--dark-gradient);
  z-index: 100;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid var(--primary-color);
}

/* header::before {
  content: "";
  pointer-events: none;
  transform: none;
  margin: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-image-width: 0 0 11px 0;
  border-image-slice: 11 20 fill;
  border-image-repeat: repeat;
  border-image-outset: 0;
  border-image-source: url("./frame.png");
} */

/* header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("./ui_texture.png");
  background-size: 200px;
  background-position: center;
  opacity: 0.2;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  z-index: 100;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.dropdown {
  position: relative;
}

.dropdown.with-divider .dropdown-content {
  display: flex;
  gap: 1rem;
}

.dropbtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  height: 75px;
}

.dropdown-content {
  position: absolute;
  /* background-color: transparent; */
  min-width: max-content;
  right: 0;
  top: 76px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-color);
  border-top: none;
  background-image: var(--dark-gradient);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: fit-content(100%);
  max-width: 90vw;
}

.dropdown-content.show {
  opacity: 1;
  visibility: visible;
  background-image: var(--dark-gradient);
}

.dropdown-link {
  width: 100%;
  display: inline-block;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  text-transform: capitalize;
}

.popular-generators,
.other-generators {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popular-generators .generator-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
}

.popular-generator {
  gap: 1rem;
  height: 100%;
  width: 175px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.popular-generator .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.popular-generator a {
  padding: 1rem;
  width: 100%;
  background-color: var(--dark-opacity);
  z-index: 100;
  text-align: center;
}

/* .popular-generator a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
} */

.popular-generator:hover .background-image {
  transform: scale(1.1);
}

.other-generators-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
}
