@media (max-width: 900px) {
  .sidebar-header {
    background-color: var(--dark-gradient);
    width: 100vw;
    height: 75px;
    position: relative;
    padding-left: 25px;
  }

  .sidebar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    height: 100vh;
    background-image: var(--dark-gradient);
    width: 300px;
    padding: 2rem;
    box-shadow: var(--sidebar-glow);
    position: absolute;
    right: -100vw;
    top: 0;
    z-index: 100;
    transition: right 0.3s ease-in-out;
    flex-direction: column;
  }

  .sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(300px - 100vw);
    width: calc(100vw - 300px);
    height: 100%;
    background-color: var(--dark-opacity);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .sidebar-heading {
    padding: 1rem;
  }

  .sidebar-header h1 {
    color: var(--sidebar-link-color);
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar.open::before {
    opacity: 1;
    visibility: visible;
  }

  .sidebar-toggle {
    position: absolute;
    top: 12.5px;
    right: 25px;
    padding: 1rem;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .sidebar-toggle.toggled {
    right: 300px;
  }
}
@media (min-width: 1200px) {
  .sidebar-toggle {
    display: none;
  }
}
@media (max-width: 300px) {
  .sidebar {
    width: 80vw;
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar-toggle.toggled {
    right: 80vw;
  }
}
