:root {
  --main: #39ff63;
  --main-hover: #3aefbd;
  --accent: #312e81;
  --accent-font: #a5b4fc;
  --accent-hover: #4338ca;
  --dark: #333333;
  --white: #f1f1f1;
  --white-accent: #faf9f9;
  --grey: rgba(99, 107, 116, 0.2);
  --warning: #b51515;
  --warning-hover: #911010;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  font-family: "Arial", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  /* color: var(--dark); */
}

ul {
  list-style-type: none;
}

.inner-page {
  width: 100vw;
  position: relative;
}

/* .inner-page.sidebar-open {
  width: calc(100vw - 275px);
} */

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--accent);
  background-color: var(--main);
  transition: all ease 0.3s;
}

.btn:hover {
  background-color: var(--main-hover);
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  color: var(--accent);
  background-color: var(--white-accent);
  transition: all ease 0.3s;
}

button {
  /* width: 100%; */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--accent);
  background-color: var(--main);
  transition: all ease 0.3s;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: calc(100vh - 2rem);
}

.google-btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--white-accent);
  color: var(--dark);
  border-radius: 5px;
  width: 230px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all ease 0.3s;
}

.google-btn:hover {
  background-color: var(--white-accent);
}

.google-btn img {
  height: 100%;
}
