:root {
  --primary-color: #46f499;
  --accent-color: #7889c3;
  --dark: #292a2c;
  --dark-grey: #3d3e41;
  --light-grey: #cfcfcf;
  --white: rgb(255, 255, 255);
  --background-color: var(--white);
  --text-color: var(--white);
  --text-color-dark: var(--dark);
  --card-background: var(--background-color);
  --card-header-background: var(--dark);
  --card-border: var(--dark-grey);
  --card-text-color: var(--dark);
  --dark-opacity: rgba(41, 42, 44, 0.9);
  --dark-gradient: linear-gradient(
    180deg,
    #292a2c,
    #232426,
    #1d1e20,
    #18191a,
    #121314
  );
  --divider-color: var(--dark-grey);
  --button-color: var(--primary-color);
  --button-text-color: var(--text-color-dark);
  --button-shadow-color: var(--dark);
  --disabled-color: var(--light-grey);
  --cursed: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  /* background-color: var(--dark); */
  color: var(--text-color);
  font-family: "laski-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: initial;
  background: #f9f9f9 url("./background_texture.png") repeat;
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("./bg_texture.png");
  /* background-size: 100%; 
  background-position: center;
  opacity: 1;
  z-index: -1;
} */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bookmania", sans-serif;
} */

ul {
  list-style: none;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a {
  position: relative;
  transition: color 0.3s ease;
}

a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: var(--primary-color);
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;
}

a:hover::before {
  width: 100%;
}

a:hover span {
  animation: colorChange 0.3s ease forwards;
}

@keyframes colorChange {
  to {
    color: var(--accent-color);
  }
}

#root,
#__next {
  isolation: isolate;
}
