.account-container {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-btns {
  display: flex;
  gap: 1rem;
  width: 64vw;
  justify-content: flex-end;
}
