.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  background-color: var(--darker);
  border-radius: 5px;
  color: var(--text-color);
  flex: 1;
}

.pagination button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: var(--dark);
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #17b57a; /* Slightly darker shade of primary color */
}

.pagination span {
  font-weight: bold;
}
